.blue-fill {
    background-color: #27AAE1;;
}
.pink-fill {
    color:#EB70AB
}
.pink-fill-background {
    background-color: #EB70AB;
}

.navbar-nav > a:active{
    color:#EB70AB
}

.navbar-nav > a:hover {
    color: #EB70AB;
}

.page-header,
.subscribe,
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/img5.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-inner img {
  width: fit-content;
  }

.white-fill {
    color: white;
}
.bshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bshadow:hover {
    background-color: #27AAE1;
}

@media screen and (min-width:768px) and (max-width: 1200px) {
.intro-div {
    height: 1200px;
}
}

@media screen and (min-width:1200px) and (max-width: 1400px) {
    .intro-div {
        height: 750px;
    }
    }

@media screen and (min-width:300px) and (max-width: 767px) {
        .mobile-image {
            width: 250px;
            height: 250px;
        }
        #row-mobile {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-gap: 10px;
        }
        #row-mobile > col > div > img {
            width: 100px;
            height: 50px;
        }
        }